node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo
dist
coverage
.expo
.expo-shared
.DS_Store
*.log
apps/**/dist
examples/**/dist
examples/mobile/.expo
examples/mobile/web-build
